{% extends 'default/myBase.html.twig' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="main_special.css">
{% endblock %}

{% block body %}
    <h2>BEST</h2>
{% endblock %}