<html>
<head>
    <title>My First Twig</title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="main.css">
    {% endblock %}
</head>
<body>
<h1>Hello</h1>
{% block body %}{% endblock %}
<hr>
{% block footer %}
    <div>This is my site!</div>
{% endblock %}
</body>
</html>
